html, body{
	font-family: Arial, sans-serif;
	margin:0;
}
header{
	background-color: #9cb3d8;
	padding:40px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
}

header img{
	border-radius: 330px;
	width: 300px;
	border: 15px solid #8b86ce;
}

.content{
	max-width: 400px;
	margin: 0 auto;
	padding: 0 20px;
}
img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0 ;
}

a {
	color: orange;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #e4daea;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}